@import url(https://fonts.google.com/specimen/Jost);

:root {
  --headerColor: #4ebcec;
  --containerBg: #091b37;
  --text: #1d1f28;
}

body {
  margin: 0;
  font-family: "Jost";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
