@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;800&display=swap");

:root {
  --headerColor: #4ebcec;
  --containerBg: #091b37;
  --text: #1d1f28;
  --speed: 300ms;
  font-size: 62.5%;
  font-family: "Jost", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}
